parameters:
    database_driver: {{ app_database_driver }}
    database_host: {{ app_database_host }}
    database_port: {{ app_database_port }}
    database_name: {{ app_database_name }}
    test_database_name: {{ app_database_name }}_test
    database_user: {{ app_database_user }}
    database_password: {{ app_database_password }}
    mailer_transport: {{ app_mailer_transport }}
    mailer_host: {{ app_mailer_host }}
    mailer_user: {{ app_mailer_user }}
    mailer_password: {{ app_mailer_password}}
    locale: {{ app_locale }}
    secret: {{ app_secret }}